body {
  /* font-family: 'Roboto', helvetica, sans-serif; */
  fony-family: 'Roboto';
}

header {
  background-color: #eebb44;
  height: 100px;
  margin-bottom: 40px;
}

h1 {
  /* margin-top: 20px; */
  /* margin-bottom: 0px; */
  /* height: 20px; */
  line-height: 1;
  margin-bottom: 0;
}

p {
  padding-top: 0px;
  margin-top: 0.5em;
}


main {
  padding-top: 40px;
}

.card {
  border: 1px solid #dfdfdf;
  margin-bottom: 20px;
}

img {
  width: 100%;
}

.content {
  padding: 20px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
